<div
  class="fixed inset-0 bg-slate-900/60 backdrop-blur-sm z-[90] flex items-center justify-center p-4"
>
  <div
    class="bg-white dark:bg-slate-800 w-full max-w-2xl h-[80vh] rounded-[2.5rem] flex flex-col shadow-2xl border border-slate-100 dark:border-slate-700"
  >
    <div class="p-8 pb-4 flex items-center justify-between">
      <div>
        <h3 class="text-2xl font-black text-slate-900 dark:text-white">
          Full History
        </h3>
        <p class="text-sm text-slate-500">
          {{ transactions.length }} total transactions
        </p>
      </div>
      <button
        (click)="close.emit()"
        class="w-10 h-10 flex items-center justify-center bg-slate-100 dark:bg-slate-700 rounded-full text-slate-500"
      >
        <i class="fa-solid fa-xmark text-lg"></i>
      </button>
    </div>

    <div class="flex-1 overflow-y-auto pb-8 custom-scrollbar">
      <div class="flex-1 overflow-y-auto px-4 pb-8">
        <app-transaction-list
          [transactions]="transactions"
          (edit)="onEdit($event)"
        >
        </app-transaction-list>
      </div>
    </div>
  </div>
</div>
